<html>
    <head>
        <script src="js\main.js"></script>
        <link rel="stylesheet" href="css\main.css">
    </head>
    <body>
      <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button" async defer></script>
      <div>
        <canvas id="c"> </canvas>
      </div>   
        <div id="content"> 
          <h1><i> Wedding Invitation </i></h1>
          <h2><i> Save the Date </i></h2>
        </div>  
        
        <section class="stark-login">     
          <form action="" method="">	
            <div id="fade-box">
              <div id="left_name">Sri Rangarajan</div>
              <div id="mid_name">Weds</div>
              <div id="right_name">Srinidhi</div>
              <img src="images/photo.jpg"> 

              <div id= "matter"><i> Wedding @ Nanguneri</i></div>
              <div id= "matter"><i> 10th February 2023</i></div>
              <div class="atcb" style="display:none;">
              {
                "name":"Wedding Date Reminder",
                "description":"Wedding of Sri Rangarajan with Srinidhi.
                               at Suppulakshmi Marriage Hall, Kamaraj Nagar, Nanguneri, Tamil Nadu 627108",
                "startDate":"2023-02-10",
                "endDate":"2023-02-10",
                "startTime":"05:00",
                "endTime":"10:00",
                "location":"Suppulakshmi Marriage Hall, Nanguneri",
                "label":"Add to Calendar",
                "options":[
                  "Google",
                  "Apple"
                ],
                "timeZone":"Asia/Kolkata",
                "trigger":"click",
                "inline":true,
                "lightMode": "system",
                "listStyle":"modal", 
                "iCalFileName":"Wedding Date Reminder"
              }
            </div>
            <div id= "matter"><i> Reception @ Secunderabad</i></div>
            <div id= "matter"><i> 19th February 2023</i></div>
            <div class="atcb">
              {
                "name":"Wedding Reception Reminder",
                "description":"Wedding Reception of Sri Rangarajan with Srinidhi.
                               Follow the URL for the location https://goo.gl/maps/QrcZRL9bgWRdWLsp6",
                "startDate":"2023-02-19",
                "endDate":"2023-02-19",
                "startTime":"18:30",
                "endTime":"22:30",
                "location":"Taj Tristar, Secunderabad",
                "label":"Add to Calendar",
                "options":[
                  "Google",
                  "Apple"
                ],
                "timeZone":"Asia/Kolkata",
                "trigger":"click",
                "inline":true,
                "lightMode": "system",
                "listStyle":"modal",
                "iCalFileName":"Wedding Reception Reminder"

              }
            </div>
            </div>
            </form>
          
        </section>
      
    </body>
</html>
