@import "https://cdn.jsdelivr.net/npm/add-to-calendar-button/assets/css/atcb.min.css";
@import "https://fonts.googleapis.com/css?family=Ubuntu:400,700italic";
@import "https://fonts.googleapis.com/css?family=Cabin:400";

html,body{margin: 0;overflow:hidden;}
#c{
    position:absolute;
    left:0;
    top:0;
 }
 
 #content{
    z-index: 3;
    padding-top: 2%;
    text-align: center;
 }


 #left_name{
  font-size: 50px;
  font-family: "Monotype Corsiva", serif;
  color:#1548BF;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  padding: 10 0 0 0;
 }

 #mid_name{
  font-size: 40px;
  font-family: "Monotype Corsiva", serif;
  color:#1548BF;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  padding: 0 0 0 0;
 }

 #right_name{
  font-size: 50px;
  font-family: "Monotype Corsiva", serif;
  color:#1548BF;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  padding: 0 0 10 0;
 }

section {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

html {
  background: #ffffff;
  background-size: cover;
  font-size: 10px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%;
}


h1 {
  animation: text-glow 2s ease-out infinite alternate;
  font-family: 'Ubuntu', sans-serif;
  color: #b2b19d;
  font-size: 48px;
  font-size: 4.8rem;
  font-weight: bold;
  position: center;
  /*text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  */ top: 10px;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  color: blue;
  font-size: 25px;
  position: center;
}
h3 {
  font-family: 'Ubuntu', sans-serif;
  color: blue;
  font-size: 20px; 
}

h1:before {
  animation: before-glow 2s ease-out infinite alternate;
}
h1:after {
  animation: after-glow 2s ease-out infinite alternate;
  right: -85px;
}

/* =========================================
Log in form
========================================= */
#fade-box {
  animation: input-entry 3s ease-in;
  z-index: 4;
}

.stark-login form {
  animation: form-entry 3s ease-in-out;
  background: #00fffd
  background: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,1)); /*Standard*/
  border: 6px solid #00fffd;
  box-shadow: 0 0 15px #00fffd;
  border-radius: 5px;
  display: inline-block;
  height: 670px;
  margin: 0px auto 0;
  position: relative;
  z-index: 4;
  width: 400px;
  transition: 1s all;
}

.stark-login form:hover {
  border: 6px solid #00fffd;
  box-shadow: 0 0 25px #00fffd;
  transition: 1s all;
}

.stark-login img {
  height: 35%;
  width: 65%;
  image-rendering: auto;
  border-radius: 10px;
  padding-bottom: 10px;
}

/* =========================================
Animation Keyframes
========================================= */
@keyframes logo-entry {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes circle-entry {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes input-entry {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes form-entry {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
    padding: 0;
  }
  20% {
    height: 0;
    border: 1px solid #00a4a2;
    width: 0;
    opacity: 0;
    padding: 0;
  }
  40% {
    width: 0;
    height: 670px;
    border: 6px solid #00a4a2;
    opacity: 1;
    padding: 0;
  }
  100% {
    height: 670px;
    width: 400px;
  }
}
@keyframes box-glow {
  0% {
    border-color: #00b8b6;
    box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 #fff;
  }
  100% {
    border-color: #00fffc;
    box-shadow: 0 0 20px rgba(0, 255, 253, 0.6), inset 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 #ffc;
  }
}
@keyframes text-glow {
  0% {
    color: #00a4a2;
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  }
  100% {
    color: #00fffc;
    text-shadow: 0 0 20px rgba(0, 255, 253, 0.6), 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 #000;
  }
}
@keyframes before-glow {
  0% {
    border-bottom: 10px solid #00a4a2;
  }
  100% {
    border-bottom: 10px solid #00fffc;
  }
}
@keyframes after-glow {
  0% {
    border-top: 16px solid #00a4a2;
  }
  100% {
    border-top: 16px solid #00fffc;
  }
}
